@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-white text-slate-900;
}

.dark body {
  @apply bg-slate-950 text-white;
}

@keyframes shimmer {
  100% {
    transform: translateX(200%);
  }
}

/* Browser autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #0f172a !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #1e293b inset !important;
}
.notransition,
.notransition * {
  transition: none !important;
  animation: none !important;
}